{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
      <h1>Gato negro</h1>
    </div>
    <p>
    Los gatos negros molan mucho
    </p>
    <div class="col-4">
      <img src="assets/gatete_negro.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}